In [1]:
import pandas as pd
import numpy as np

# Serijos

In [5]:
labels = ['W', 'X', 'Y', 'Z']
data = [10, 20, 30, 25]
pandos_serija = pd.Series(data=data)
pandos_serija

0    10
1    20
2    30
3    25
dtype: int64

In [7]:
suvardinta_serija = pd.Series(data=data, index=labels)
suvardinta_serija

W    10
X    20
Y    30
Z    25
dtype: int64

In [11]:
asmuo = {
    "vardas": "Kestutis",
    "pavarde": "Linksmavicius",
    "amzius": 40,
    "busena": "gyvas"
}
asmens_serija = pd.Series(asmuo)
asmens_serija

vardas          Kestutis
pavarde    Linksmavicius
amzius                40
busena             gyvas
dtype: object

In [16]:
miestai_vasara = pd.Series([400, 200, 200, 200, 100], ["Vilnius", "Kaunas", "Klaipėda", "Palanga", "Kretinga"])
miestai_vasara

Vilnius     400
Kaunas      200
Klaipėda    200
Palanga     200
Kretinga    100
dtype: int64

In [17]:
miestai_ziema = pd.Series([500, 300, 150, 100, 75], ["Vilnius", "Kaunas", "Klaipėda", "Panevėžys", "Šiauliai"])
miestai_ziema

Vilnius      500
Kaunas       300
Klaipėda     150
Panevėžys    100
Šiauliai      75
dtype: int64

In [18]:
miestai_ziema + miestai_vasara

Kaunas       500.0
Klaipėda     350.0
Kretinga       NaN
Palanga        NaN
Panevėžys      NaN
Vilnius      900.0
Šiauliai       NaN
dtype: float64

# DataFrame

In [19]:
betkas = pd.DataFrame(
    np.random.rand(5, 6),
    ["a", "b", "c", "d", "e"],
    ["U", "V", "W", "X", "Y", "Z"],
)
betkas

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708

In [20]:
betkas['U']

a    0.417988
b    0.240542
c    0.641592
d    0.751510
e    0.354387
Name: U, dtype: float64

In [27]:
print(type(betkas))
print(type(betkas['U']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [28]:
betkas['T-naujas'] = np.random.rand(5)

In [37]:
betkas

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708

In [32]:
betkas.drop('T-naujas', axis=1, inplace=True)
betkas

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708

In [35]:
a_eilute_is_betko = betkas.loc['a']
a_eilute_is_betko

U    0.417988
V    0.467908
W    0.909793
X    0.436081
Y    0.668175
Z    0.989773
Name: a, dtype: float64

In [36]:
betkas.drop('e')

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794

In [39]:
betkas.iloc[0]

U    0.417988
V    0.467908
W    0.909793
X    0.436081
Y    0.668175
Z    0.989773
Name: a, dtype: float64

In [40]:
betkas.loc['a', 'Z']

0.9897734839674719

In [41]:
betkas.loc[['a', 'c'], ['U', 'X', 'Z']]

          U         X         Z
a  0.417988  0.436081  0.989773
c  0.641592  0.770536  0.093672

In [53]:
betkas.iloc[[x for x in range(1, 4)], [y for y in range(0, 3)]]

          U         V         W
b  0.240542  0.387468  0.416620
c  0.641592  0.703683  0.008907
d  0.751510  0.523194  0.580417

In [54]:
betkas[betkas > 0.5]

          U         V         W         X         Y         Z
a       NaN       NaN  0.909793       NaN  0.668175  0.989773
b       NaN       NaN       NaN       NaN  0.794567  0.554103
c  0.641592  0.703683       NaN  0.770536       NaN       NaN
d  0.751510  0.523194  0.580417       NaN  0.675515       NaN
e       NaN  0.619223       NaN       NaN  0.854802       NaN

In [55]:
betkas[betkas['W'] > 0.5]

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794

In [56]:
betkas[betkas['W'] > 0.5][['U', 'W', 'Z']]

          U         W         Z
a  0.417988  0.909793  0.989773
d  0.751510  0.580417  0.225794

In [59]:
betkas[(betkas['W'] > 0.5) & (betkas['Z'] < 0.5)]

         U         V         W         X         Y         Z
d  0.75151  0.523194  0.580417  0.236383  0.675515  0.225794

In [60]:
betkas[(betkas['W'] > 0.5) & (betkas['Z'] < 0.5)][['W', 'Z']]

          W         Z
d  0.580417  0.225794

# indeksai

In [63]:
betkas.reset_index()

  index         U         V         W         X         Y         Z
0     a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
1     b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
2     c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
3     d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
4     e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708

In [69]:
naujas_indeksas = "Vilnius Kaunas Klaipėda Palanga Kretinga".split()
betkas['Miestas'] = naujas_indeksas
betkas

          U         V         W         X         Y         Z   Miestas
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773   Vilnius
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103    Kaunas
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672  Klaipėda
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794   Palanga
e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708  Kretinga

In [71]:
miestu_betkas = betkas.set_index('Miestas')

In [72]:
betkas.drop('Miestas', axis=1, inplace=True)

In [73]:
betkas

          U         V         W         X         Y         Z
a  0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
b  0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
c  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
d  0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
e  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708

In [74]:
miestu_betkas

                 U         V         W         X         Y         Z
Miestas
Vilnius   0.417988  0.467908  0.909793  0.436081  0.668175  0.989773
Kaunas    0.240542  0.387468  0.416620  0.368322  0.794567  0.554103
Klaipėda  0.641592  0.703683  0.008907  0.770536  0.476338  0.093672
Palanga   0.751510  0.523194  0.580417  0.236383  0.675515  0.225794
Kretinga  0.354387  0.619223  0.001456  0.405091  0.854802  0.001708