# map()

In [1]:
sarasas = [4, 3, 2, 1]
sarasas

[4, 3, 2, 1]

In [3]:
sarasas_kvadratu = []
for skaicius in sarasas:
    sarasas_kvadratu.append(skaicius ** 2)
sarasas_kvadratu

[16, 9, 4, 1]

In [6]:
def kvadratu(skaicius):
    return skaicius ** 2

alt_kvadratu = map(kvadratu, sarasas)
list(alt_kvadratu)

[16, 9, 4, 1]

In [13]:
lambda_kvadratu = map(lambda skaicius: skaicius ** 2, sarasas)
list(lambda_kvadratu)

[16, 9, 4, 1]

In [11]:
from datetime import date

ivesta_data = "2023-01-31"
metai, menuo, diena = map(int, ivesta_data.split('-'))
tikra_data = date(metai, menuo, diena)
tikra_data

datetime.date(2023, 1, 31)

# filter()

In [16]:
def daugiau_nei_du(sarasas):
    sarasas_2 = []
    for skaicius in sarasas:
        if skaicius > 2:
            sarasas_2.append(skaicius)
    return sarasas_2

daugiau_nei_du(sarasas)

[4, 3]

In [18]:
d_uz_du = filter(lambda skaicius: skaicius > 2, sarasas)
list(d_uz_du)

[4, 3]

In [23]:
aibe = list(range(-10, 20))
lyginiai = filter(lambda skaicius: skaicius % 2 == 0, aibe)
list(lyginiai)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
import calendar
metai = list(range(1950, 2150))
keliamieji = filter(calendar.isleap, metai)
list(keliamieji)

[1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2104,
 2108,
 2112,
 2116,
 2120,
 2124,
 2128,
 2132,
 2136,
 2140,
 2144,
 2148]

# reduce()

In [34]:
from functools import reduce

print([5, 6] + sarasas)
suma = reduce(lambda pirmas, antras: pirmas * antras, [5, 6] + sarasas)
suma

[5, 6, 4, 3, 2, 1]

720

# statistines funkcijos

In [36]:
sum(sarasas)

10

In [37]:
min(sarasas)

1

In [38]:
max(sarasas)

4

In [41]:
from statistics import mean, median
print(mean(sarasas + [1, 1, 1]))
print(median(sarasas + [2, 1, 1]))

1.8571428571428572
2

# Sąrašo apibrėžimas (list comprehension)

In [43]:
# ciklas sarase
s_kvadratu = [skaicius ** 2 for skaicius in sarasas]
s_kvadratu

[16, 9, 4, 1]

In [44]:
# salyga sarase = filtras
f_d_uz_du = [skaicius for skaicius in sarasas if skaicius > 2]
f_d_uz_du

[4, 3]

In [57]:
lyginiai = [skaicius for skaicius in range(-10000000, 10000000) if skaicius % 2 == 0]
# lyginiai
mean(lyginiai)

-1

In [55]:
genlyg = (skaicius for skaicius in range(-10000000, 10000000) if skaicius % 2 == 0)
mean(genlyg)

-1

In [58]:
def tik_lyginiai(sarasas):
    lyginiai = []
    for skaicius in range(-10000000, 10000000):
        if skaicius % 2 == 0:
            lyginiai.append(skaicius)
    return lyginiai

tl = tik_lyginiai(sarasas)
mean(tl)

-1

In [61]:
misriukas = [77, 66, 69, "Labas", True, False, "vakaras", [1, 2, 3], {"kibiras": "be rankenos"}, -100.2, 69.420, "OK", 42, 21, 3.14]
misriukas

[77,
 66,
 69,
 'Labas',
 True,
 False,
 'vakaras',
 [1, 2, 3],
 {'kibiras': 'be rankenos'},
 -100.2,
 69.42,
 'OK',
 42,
 21,
 3.14]

In [62]:
kiek_intu = sum(type(elementas) is int for elementas in misriukas)
kiek_intu

5

In [69]:
kiek_stringu = sum(type(elementas) is float for elementas in misriukas)
kiek_stringu

3

In [72]:
def kiek_tipu(tipas, sarasas):
    return sum(type(elementas) is tipas for elementas in sarasas)

print(kiek_tipu(float, misriukas))
print(kiek_tipu(int, misriukas))
print(kiek_tipu(list, misriukas))

3
5
1

# rūšiavimas

In [73]:
nerusiuotas = [4, 3, 2, 1, 5, 6, 7, 10, 9, 8]
surusiuotas = sorted(nerusiuotas)
surusiuotas

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
nerusiuotas.sort(reverse=True)
nerusiuotas

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [147]:
from random import randrange
betkas = sorted([randrange(-9999, 10000) for _ in range(10)])
# betkas.sort()
betkas

[-9803, -8713, -8445, -8225, -8082, -7433, 926, 2691, 7518, 7668]

In [148]:
from random import randrange
betkas = [randrange(-9999, 10000) for _ in range(10)]
betkas.sort()
for skaicius in betkas:
    print(skaicius)

-8551
-8531
-6926
-4628
-3192
-1996
-217
1483
3729
4381

In [145]:
zmogus = {
    "vardas": "Kestutis",
    "pavarde": "J",
    "amzius": 40,
    "pareigos": "Destytojas"
}
surusiuotas = sorted(str(value) for value in zmogus.values())
surusiuotas

['40', 'Destytojas', 'J', 'Kestutis']

In [149]:
sorted(betkas, key=abs)

[-217, 1483, -1996, -3192, 3729, 4381, -4628, -6926, -8531, -8551]

In [168]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, atlyginimas):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def __repr__(self):
        return (f"({self.vardas}, {self.pavarde}, {self.atlyginimas})")

class Gyvunas:
    def __init__(self, vardas):
        self.vardas = vardas

    def __repr__(self):
        return (f"({self.vardas})")

d1 = Darbuotojas("Tadas", "Rutkauskas", 1500)
d2 = Darbuotojas("Domas", "Radzevičius", 2000)
d3 = Darbuotojas("Rokas", "Ramanauskas", 1000)
d4 = Darbuotojas("Geras", "Rikiuotojas", 3000)
darbuotojai = [d1, d2, d3, d4] #, "Petras", "Antanas", Gyvunas("Ciuckis"), 777
darbuotojai

[(Tadas, Rutkauskas, 1500),
 (Domas, Radzevičius, 2000),
 (Rokas, Ramanauskas, 1000),
 (Geras, Rikiuotojas, 3000)]

In [169]:
def rusiavimas_pagal_varda(obj):
    if hasattr(obj, "vardas"):
        return obj.vardas
    else:
        return str(obj)

darbuotojai_pagal_varda = sorted(darbuotojai, key=rusiavimas_pagal_varda)
darbuotojai_pagal_varda

[(Domas, Radzevičius, 2000),
 (Geras, Rikiuotojas, 3000),
 (Rokas, Ramanauskas, 1000),
 (Tadas, Rutkauskas, 1500)]

In [170]:
darbuotojai_pagal_pavarde = sorted(darbuotojai, key=lambda obj: obj.pavarde)
darbuotojai_pagal_pavarde

[(Domas, Radzevičius, 2000),
 (Rokas, Ramanauskas, 1000),
 (Geras, Rikiuotojas, 3000),
 (Tadas, Rutkauskas, 1500)]

In [172]:
from operator import attrgetter
darbuotojai_pagal_atlyginima = sorted(darbuotojai, key=attrgetter("atlyginimas"), reverse=True)
darbuotojai_pagal_atlyginima

[(Geras, Rikiuotojas, 3000),
 (Domas, Radzevičius, 2000),
 (Tadas, Rutkauskas, 1500),
 (Rokas, Ramanauskas, 1000)]