# Iterator/Generator

In [1]:
def poriniai(iki):
    count = 2
    while count <= iki:
        yield count
        count += 2

In [2]:
skaiciuojam = poriniai(99)

In [3]:
print(next(skaiciuojam))

2

In [4]:
for skaicius in skaiciuojam:
    print(skaicius)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [5]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [6]:
ats = fib(45)
print(list(ats))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733]

In [7]:
kodas = "1149"
def lauziam_koda():
    skaicius = 0
    while skaicius < 10000:
        spejimas = f'{skaicius:04}'
        if spejimas == kodas:
            print(f'{spejimas} yra tai, ko jus ieskote')
            break
        yield spejimas
        skaicius += 1

In [8]:
bandom = lauziam_koda()
while True:
    try:
        print(next(bandom))
    except StopIteration:
        break

0000
0001
0002
0003
0004
0005
0006
0007
0008
0009
0010
0011
0012
0013
0014
0015
0016
0017
0018
0019
0020
0021
0022
0023
0024
0025
0026
0027
0028
0029
0030
0031
0032
0033
0034
0035
0036
0037
0038
0039
0040
0041
0042
0043
0044
0045
0046
0047
0048
0049
0050
0051
0052
0053
0054
0055
0056
0057
0058
0059
0060
0061
0062
0063
0064
0065
0066
0067
0068
0069
0070
0071
0072
0073
0074
0075
0076
0077
0078
0079
0080
0081
0082
0083
0084
0085
0086
0087
0088
0089
0090
0091
0092
0093
0094
0095
0096
0097
0098
0099
0100
0101
0102
0103
0104
0105
0106
0107
0108
0109
0110
0111
0112
0113
0114
0115
0116
0117
0118
0119
0120
0121
0122
0123
0124
0125
0126
0127
0128
0129
0130
0131
0132
0133
0134
0135
0136
0137
0138
0139
0140
0141
0142
0143
0144
0145
0146
0147
0148
0149
0150
0151
0152
0153
0154
0155
0156
0157
0158
0159
0160
0161
0162
0163
0164
0165
0166
0167
0168
0169
0170
0171
0172
0173
0174
0175
0176
0177
0178
0179
0180
0181
0182
0183
0184
0185
0186
0187
0188
0189
0190
0191
0192
0193
0194
0195
0196
0197
0198
0199
0200
0201
0202
0203
0204
0205
0206
0207
0208
0209
0210
0211
0212
0213
0214
0215
0216
0217
0218
0219
0220
0221
0222
0223
0224
0225
0226
0227
0228
0229
0230
0231
0232
0233
0234
0235
0236
0237
0238
0239
0240
0241
0242
0243
0244
0245
0246
0247
0248
0249
0250
0251
0252
0253
0254
0255
0256
0257
0258
0259
0260
0261
0262
0263
0264
0265
0266
0267
0268
0269
0270
0271
0272
0273
0274
0275
0276
0277
0278
0279
0280
0281
0282
0283
0284
0285
0286
0287
0288
0289
0290
0291
0292
0293
0294
0295
0296
0297
0298
0299
0300
0301
0302
0303
0304
0305
0306
0307
0308
0309
0310
0311
0312
0313
0314
0315
0316
0317
0318
0319
0320
0321
0322
0323
0324
0325
0326
0327
0328
0329
0330
0331
0332
0333
0334
0335
0336
0337
0338
0339
0340
0341
0342
0343
0344
0345
0346
0347
0348
0349
0350
0351
0352
0353
0354
0355
0356
0357
0358
0359
0360
0361
0362
0363
0364
0365
0366
0367
0368
0369
0370
0371
0372
0373
0374
0375
0376
0377
0378
0379
0380
0381
0382
0383
0384
0385
0386
0387
0388
0389
0390
0391
0392
0393
0394
0395
0396
0397
0398
0399
0400
0401
0402
0403
0404
0405
0406
0407
0408
0409
0410
0411
0412
0413
0414
0415
0416
0417
0418
0419
0420
0421
0422
0423
0424
0425
0426
0427
0428
0429
0430
0431
0432
0433
0434
0435
0436
0437
0438
0439
0440
0441
0442
0443
0444
0445
0446
0447
0448
0449
0450
0451
0452
0453
0454
0455
0456
0457
0458
0459
0460
0461
0462
0463
0464
0465
0466
0467
0468
0469
0470
0471
0472
0473
0474
0475
0476
0477
0478
0479
0480
0481
0482
0483
0484
0485
0486
0487
0488
0489
0490
0491
0492
0493
0494
0495
0496
0497
0498
0499
0500
0501
0502
0503
0504
0505
0506
0507
0508
0509
0510
0511
0512
0513
0514
0515
0516
0517
0518
0519
0520
0521
0522
0523
0524
0525
0526
0527
0528
0529
0530
0531
0532
0533
0534
0535
0536
0537
0538
0539
0540
0541
0542
0543
0544
0545
0546
0547
0548
0549
0550
0551
0552
0553
0554
0555
0556
0557
0558
0559
0560
0561
0562
0563
0564
0565
0566
0567
0568
0569
0570
0571
0572
0573
0574
0575
0576
0577
0578
0579
0580
0581
0582
0583
0584
0585
0586
0587
0588
0589
0590
0591
0592
0593
0594
0595
0596
0597
0598
0599
0600
0601
0602
0603
0604
0605
0606
0607
0608
0609
0610
0611
0612
0613
0614
0615
0616
0617
0618
0619
0620
0621
0622
0623
0624
0625
0626
0627
0628
0629
0630
0631
0632
0633
0634
0635
0636
0637
0638
0639
0640
0641
0642
0643
0644
0645
0646
0647
0648
0649
0650
0651
0652
0653
0654
0655
0656
0657
0658
0659
0660
0661
0662
0663
0664
0665
0666
0667
0668
0669
0670
0671
0672
0673
0674
0675
0676
0677
0678
0679
0680
0681
0682
0683
0684
0685
0686
0687
0688
0689
0690
0691
0692
0693
0694
0695
0696
0697
0698
0699
0700
0701
0702
0703
0704
0705
0706
0707
0708
0709
0710
0711
0712
0713
0714
0715
0716
0717
0718
0719
0720
0721
0722
0723
0724
0725
0726
0727
0728
0729
0730
0731
0732
0733
0734
0735
0736
0737
0738
0739
0740
0741
0742
0743
0744
0745
0746
0747
0748
0749
0750
0751
0752
0753
0754
0755
0756
0757
0758
0759
0760
0761
0762
0763
0764
0765
0766
0767
0768
0769
0770
0771
0772
0773
0774
0775
0776
0777
0778
0779
0780
0781
0782
0783
0784
0785
0786
0787
0788
0789
0790
0791
0792
0793
0794
0795
0796
0797
0798
0799
0800
0801
0802
0803
0804
0805
0806
0807
0808
0809
0810
0811
0812
0813
0814
0815
0816
0817
0818
0819
0820
0821
0822
0823
0824
0825
0826
0827
0828
0829
0830
0831
0832
0833
0834
0835
0836
0837
0838
0839
0840
0841
0842
0843
0844
0845
0846
0847
0848
0849
0850
0851
0852
0853
0854
0855
0856
0857
0858
0859
0860
0861
0862
0863
0864
0865
0866
0867
0868
0869
0870
0871
0872
0873
0874
0875
0876
0877
0878
0879
0880
0881
0882
0883
0884
0885
0886
0887
0888
0889
0890
0891
0892
0893
0894
0895
0896
0897
0898
0899
0900
0901
0902
0903
0904
0905
0906
0907
0908
0909
0910
0911
0912
0913
0914
0915
0916
0917
0918
0919
0920
0921
0922
0923
0924
0925
0926
0927
0928
0929
0930
0931
0932
0933
0934
0935
0936
0937
0938
0939
0940
0941
0942
0943
0944
0945
0946
0947
0948
0949
0950
0951
0952
0953
0954
0955
0956
0957
0958
0959
0960
0961
0962
0963
0964
0965
0966
0967
0968
0969
0970
0971
0972
0973
0974
0975
0976
0977
0978
0979
0980
0981
0982
0983
0984
0985
0986
0987
0988
0989
0990
0991
0992
0993
0994
0995
0996
0997
0998
0999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149 yra tai, ko jus ieskote

In [9]:
def ieskom():
    with open("gen_failui/generatoriui.txt", "r") as failas:
        while True:
            for eilute in failas:
                yield eilute[:-1]

# DEKORATORIAI

In [40]:
def stri_decorator(fn):
    def wrapper(*args, **kwargs):
        for a in args:
            if type(a) != str:
                return "text must be a string"
        return fn(*args, **kwargs)
    return wrapper

In [41]:
@stri_decorator
def return_string(*args):
    return args

In [42]:
return_string("")

('',)

In [43]:
def less_than_two(fn):
    def wrapper(*args, **kwargs):
        if len(args) > 2:
            return "Enter less than 2 parameters"
        return fn(*args)
    return wrapper

In [44]:
@stri_decorator
@less_than_two
def any_function(*args):
    return args

In [45]:
any_function("stringas", "stringiukas")

('stringas', 'stringiukas')

In [51]:
from time import sleep
from functools import wraps

def delay(seconds):
    def delay(fn):
        @wraps(fn)
        def wrapper(*args, **kwargs):
            print(f"function will be delayed for {seconds} seconds. ")
            sleep(seconds)
            return fn(*args, **kwargs)
        return wrapper
    return delay

In [52]:
@delay(2.5)
@stri_decorator
@less_than_two
def any_function(*args):
    return args

In [53]:
any_function("stringas", "stringiukas")

function will be delayed for 2.5 seconds.

('stringas', 'stringiukas')

### how long does it takes

In [ ]:
from time import time
def performance(fn):
    def wrapper(*args, **kwargs):
        t1 = time()
        result = fn(*args, **kwargs)
        t2 = time()
        diff = t2 - t1
        # print(f"It took {diff}")
        return result, diff
    return wrapper

In [ ]:
import requests  # importuojame requests
from time import time  # importuojame time modulį

start_time = time()  # fiksuojame starto laiką
r = requests.get('http://www.cnn.com')  # sukuriame http užklausą
print(r.status_code)  # spausdiname status code (200 = OK, 404 = Not Found, ir t.t. galima pasiguglinti http status codes)
end_time = time()  # fiksuojame pabaigos laiką
print(end_time - start_time)  # atspausdiname laiką, per kurį gaovme atsakymą

# NUMPY

In [1]:
import numpy as np

In [4]:
pirmas = np.arange(1,10)
print(pirmas)

[1 2 3 4 5 6 7 8 9]

In [8]:
antras = np.zeros(10)
print(antras)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
trecias = np.ones(10)
trecias

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [11]:
ketvirtas = np.ones(10) + 3
ketvirtas

array([4., 4., 4., 4., 4., 4., 4., 4., 4., 4.])

In [14]:
penktas = np.arange(0,102,2)
penktas

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [20]:
change[2,1]

12

In [36]:
change[-1:]

array([[21, 22, 23, 24, 25]])

In [35]:
change[0:3, 0:3]

array([[ 1,  2,  3],
       [ 6,  7,  8],
       [11, 12, 13]])

In [33]:
sixth = np.arange(1,26)
change = sixth.reshape(5,5)
change

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [41]:
change[1:-1, 1:]

array([[ 7,  8,  9, 10],
       [12, 13, 14, 15],
       [17, 18, 19, 20]])

In [42]:
change[-2:, 0:-2]

array([[16, 17, 18],
       [21, 22, 23]])

In [48]:
trolo = np.random.rand(20)

array([0.08593991, 0.3127147 , 0.31026176, 0.32462699, 0.5040098 ,
       0.07136543, 0.01249324, 0.60335239, 0.73221385, 0.45417201,
       0.07741429, 0.51548049, 0.48712068, 0.35992055, 0.04469814,
       0.54129841, 0.82772673, 0.54359662, 0.37453503, 0.3293201 ])

In [51]:
print(trolo.max(), trolo.argmax())

0.8277267336478586 16

In [52]:
print(trolo.min(), trolo.argmin())

0.012493244105172163 6

In [53]:
trolo.dtype

dtype('float64')

In [57]:
more = np.arange(1,101)
more

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [60]:
more[more>90]

array([ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [61]:
more[more % 7 == 0]

array([ 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98])

In [73]:
np.linspace(0.025,1,40).reshape(5,8)

array([[0.025, 0.05 , 0.075, 0.1  , 0.125, 0.15 , 0.175, 0.2  ],
       [0.225, 0.25 , 0.275, 0.3  , 0.325, 0.35 , 0.375, 0.4  ],
       [0.425, 0.45 , 0.475, 0.5  , 0.525, 0.55 , 0.575, 0.6  ],
       [0.625, 0.65 , 0.675, 0.7  , 0.725, 0.75 , 0.775, 0.8  ],
       [0.825, 0.85 , 0.875, 0.9  , 0.925, 0.95 , 0.975, 1.   ]])

In [ ]:
traukiasi = np.arange(2,1001)
traukiasi

In [81]:
bandomd=traukiasi[(traukiasi ** 0.5) % 1==0].reshape(5,6)
bandomd

array([[  4,   9,  16,  25,  36,  49],
       [ 64,  81, 100, 121, 144, 169],
       [196, 225, 256, 289, 324, 361],
       [400, 441, 484, 529, 576, 625],
       [676, 729, 784, 841, 900, 961]])

# PANDAS 1

In [22]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('miestai_isvalyti.csv')
df

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
100,Smalininkai,446,515,653,758,805,952,1100,1741,0
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
102,Panemunė,210,274,329,398,506,545,539,637,0

In [41]:
add_miestas = df.set_index("Miestas")
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
Smalininkai,446,515,653,758,805,952,1100,1741,0
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
Panemunė,210,274,329,398,506,545,539,637,0

In [42]:
add_miestas.shape

(103, 9)

In [43]:
naujas = range(1,104)
add_miestas["nr"] = naujas
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897,nr
Miestas,,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,1
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,2
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,3
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,4
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,5
...,...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,99
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,100
Smalininkai,446,515,653,758,805,952,1100,1741,0,101
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,102
Panemunė,210,274,329,398,506,545,539,637,0,103

In [44]:
add_miestas.iloc[[x for x in range(29,39)]]

                2019   2011   2001   1989   1979   1970  1959  1923  1897  nr
Miestas
Jurbarkas       9831  11232  13797  14310  10644   6541  4422  4409  7400  30
Raseiniai       9784  11203  12541  13211  11403   8946  6200  5270  7455  31
Vilkaviškis     9621  11547  13283  13829  11836   8452  5072  7263  5788  32
Anykščiai       8632  10575  11958  12758  10325   8250  5442  3500  3900  33
Prienai         8516   9867  11353  11909   9398   7550  5423  3260  2477  34
Joniškis        8358   9899  11329  11773   9303   7488  5889  4100  4828  35
Varėna          7987   9240  10845  12291   8015   4478  2401   407  2624  36
Kelmė           7655   9150  10900  11557   9073   6934  5140  2900  3914  37
Kaišiadorys     7486   8664  10002  10964   9022   4618  3011  1929   833  38
Naujoji Akmenė  7266   9300  12345  13590  14195  10127  5400     0     0  39

In [45]:
add_miestas.drop("nr", axis=1, inplace=True)
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
Smalininkai,446,515,653,758,805,952,1100,1741,0
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
Panemunė,210,274,329,398,506,545,539,637,0

In [61]:
add_miestas[add_miestas['1959']==0]

             2019   2011   2001   1989  1979  1970  1959  1923  1897
Miestas
Visaginas   18185  26804  29554  32438  6212     0     0     0     0
Elektrėnai  11276  12012  14050  15871  8466  6730     0     0     0

In [65]:
add_miestas[add_miestas['1897'] > add_miestas['2019']]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Zarasai              6140  7349  8365  8916  7250  6624  4700  3785  6359
Švenčionys           4139  4980  5684  6469  5284  4617  4006     0  6025
Kalvarija            3858  4457  5090  5701  5879  5622  4698  4529  9378
Eišiškės             3071  3416  3765  3789  3467  3481  2532  2382  3196
Šeduva               2541  2895  3400  3584  3347  3309  3253  3186  4474
Vilkija              1898  2131  2338  2629  2371  2286  1996  2068  2012
Viekšniai            1670  1938  2270  2410  2781  2748  2734  2024  2951
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285
Salantai             1360  1615  1942  2431  2086  2156  2321  1942  2446
Linkuva              1277  1679  1797  2025  1876  1950  2144  1851  2077
Simnas               1269  1514  1980  2313  1625  1716  1661  1549  1642
Veisiejai            1211  1430  1762  2079  1687  1450  1513  1295  1540
Jieznas              1023  1204  1476  1883  1854  1658  1803  1000  1255
Varniai               995  1140  1355  2028  2059  2027  1902     0  2834
Daugai                980  1120  1458  2790  2054  1384  1287  1153  1288
Seda                  953  1138  1309  1500  1679  1821  2133  1851  2062
Virbalis              885  1095  1351  1566  1635  1489  1429  4018  3293
Vabalninkas           875  1057  1328  1905  2205  2070  2360  1267  2333
Obeliai               847  1074  1371  1804  1648  1681  1907  1328   975
Dūkštas               765   888  1070  1193  1633  1444  1968  1076  1000
Pandėlys              752   809  1024  1167  1129  1184  1277  1000  1221
Užventis              649   833   898  1149  1229  1406  1704     0   945
Dusetos               560   717   914  1184  1357  1600  1806  1164  1278
Kavarskas             528   666   809   972  1113  1191  1287  1041  1546
Troškūnai             372   451   525   672  1174  1417  1495  1252  1000

In [70]:
add_miestas[add_miestas['2019'] > add_miestas['2011']][['2019','2011']]

                2019    2011
Miestas
Vilnius       540919  535631
Šalčininkai     6753    6402
Baltoji Vokė    1052    1047

In [77]:
add_miestas[(add_miestas['1897'] > add_miestas['1923']) &
(add_miestas['1923'] > add_miestas['1959'])&
(add_miestas['1959'] > add_miestas['1970'])&
(add_miestas['1970'] > add_miestas['1979'])&
(add_miestas['1979'] > add_miestas['1989'])&
(add_miestas['1989'] > add_miestas['2001'])&
(add_miestas['2001'] > add_miestas['2011'])&
(add_miestas['2011'] > add_miestas['2019'])]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285

In [92]:
procents = (add_miestas['2019'] - add_miestas['1989']) / add_miestas['1989'] * 100

print(f'\
{procents.idxmax()}\t {int(procents.max())}%\n\
{procents.idxmin()}\t{int(procents.min())}%')

Neringa	 39%
Daugai	-64%

In [93]:
add_miestas.reset_index()

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897,percent_change
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,-6.212083
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,-31.681616
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,-27.118352
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,-31.250644
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,-31.099041
...,...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,-52.702703
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,-45.679012
100,Smalininkai,446,515,653,758,805,952,1100,1741,0,-41.160950
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,-44.642857
102,Panemunė,210,274,329,398,506,545,539,637,0,-47.236181

# Pandas 2

In [274]:
import pandas as pd
import numpy as np

In [275]:
top_left = pd.read_csv('top1-25-1.csv')
top_right = pd.read_csv('top1-25-2.csv')
bottom_left = pd.read_csv('top26-50-1.csv')
bottom_right = pd.read_csv('top-26-50-2.csv')

In [276]:
bott = pd.concat([bottom_left, bottom_right], axis=1)
bott

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
1,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
2,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
3,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
4,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0
5,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.0
6,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.0
7,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.0
8,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.0
9,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.0
10,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.0
11,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.0
12,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.0
13,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.0
14,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.0
15,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.0
16,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.0
17,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.0
18,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.0
19,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.0
20,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.0
21,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.0
22,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
23,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.0
24,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,95,79,75,-6,7,61,206,21,12,82.0

In [277]:
top = pd.merge(top_left, top_right, on=["Track.Name", "Popularity"])
top

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
6,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
7,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
8,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
9,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
10,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
12,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
13,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
16,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
18,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
19,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
20,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
21,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
23,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30

In [278]:
both = pd.concat([top, bott])
both

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
6,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
7,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
8,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
9,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
10,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
12,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
13,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
16,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
18,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
19,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
20,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
21,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
23,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
0,If I Can't Have You,Shawn Mendes,canadian pop,70.0,124,82,69,-4,13,87,191,49,6
1,Dance Monkey,Tones and I,australian pop,83.0,98,59,82,-6,18,54,210,69,10
2,It's You,Ali Gatie,canadian hip hop,89.0,96,46,73,-7,19,40,213,37,3
3,Con Calma,Daddy Yankee,latin,91.0,94,86,74,-3,6,66,193,11,6
4,QUE PRETENDES,J Balvin,latin,89.0,93,79,64,-4,36,94,222,3,25
5,Takeaway,The Chainsmokers,edm,84.0,85,51,29,-8,10,36,210,12,4
6,7 rings,Ariana Grande,dance pop,89.0,140,32,78,-11,9,33,179,59,33
7,0.958333333333333,Maluma,reggaeton,89.0,96,71,78,-5,9,68,176,22,28
8,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,89.0,98,59,80,-7,13,18,200,2,15
9,Never Really Over,Katy Perry,dance pop,89.0,100,88,77,-5,32,39,224,19,6
10,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,89.0,114,72,66,-7,14,32,164,18,6
11,Otro Trago,Sech,panamanian pop,91.0,176,70,75,-5,11,62,226,14,34
12,Antisocial (with Travis Scott),Ed Sheeran,pop,87.0,152,82,72,-5,36,91,162,13,5
13,Sucker,Jonas Brothers,boy band,80.0,138,73,84,-5,11,95,181,4,6
14,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,78.0,95,56,81,-6,6,68,199,48,7
15,Higher Love,Kygo,edm,88.0,104,68,69,-7,10,40,228,2,3
16,You Need To Calm Down,Taylor Swift,dance pop,90.0,85,68,77,-6,7,73,171,1,5
17,Shallow,Lady Gaga,dance pop,87.0,96,39,57,-6,23,32,216,37,3
18,Talk,Khalid,pop,84.0,136,40,90,-9,6,35,198,5,13
19,Con Altura,ROSALNA,r&b en espanol,88.0,98,69,88,-4,5,75,162,39,12
20,One Thing Right,Marshmello,brostep,88.0,88,62,66,-2,58,44,182,7,5
21,Te Robar,Nicky Jam,latin,88.0,176,75,67,-4,8,80,202,24,6
22,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
23,Call You Mine,The Chainsmokers,edm,88.0,104,70,59,-6,41,50,218,23,3
24,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [279]:
both.index = range(1, len(both) + 1)
both

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
1,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
2,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
3,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
7,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
8,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
9,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
10,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
11,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
13,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
14,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
16,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
17,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
20,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
21,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
22,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
24,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
26,If I Can't Have You,Shawn Mendes,canadian pop,70.0,124,82,69,-4,13,87,191,49,6
27,Dance Monkey,Tones and I,australian pop,83.0,98,59,82,-6,18,54,210,69,10
28,It's You,Ali Gatie,canadian hip hop,89.0,96,46,73,-7,19,40,213,37,3
29,Con Calma,Daddy Yankee,latin,91.0,94,86,74,-3,6,66,193,11,6
30,QUE PRETENDES,J Balvin,latin,89.0,93,79,64,-4,36,94,222,3,25
31,Takeaway,The Chainsmokers,edm,84.0,85,51,29,-8,10,36,210,12,4
32,7 rings,Ariana Grande,dance pop,89.0,140,32,78,-11,9,33,179,59,33
33,0.958333333333333,Maluma,reggaeton,89.0,96,71,78,-5,9,68,176,22,28
34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,89.0,98,59,80,-7,13,18,200,2,15
35,Never Really Over,Katy Perry,dance pop,89.0,100,88,77,-5,32,39,224,19,6
36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,89.0,114,72,66,-7,14,32,164,18,6
37,Otro Trago,Sech,panamanian pop,91.0,176,70,75,-5,11,62,226,14,34
38,Antisocial (with Travis Scott),Ed Sheeran,pop,87.0,152,82,72,-5,36,91,162,13,5
39,Sucker,Jonas Brothers,boy band,80.0,138,73,84,-5,11,95,181,4,6
40,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,78.0,95,56,81,-6,6,68,199,48,7
41,Higher Love,Kygo,edm,88.0,104,68,69,-7,10,40,228,2,3
42,You Need To Calm Down,Taylor Swift,dance pop,90.0,85,68,77,-6,7,73,171,1,5
43,Shallow,Lady Gaga,dance pop,87.0,96,39,57,-6,23,32,216,37,3
44,Talk,Khalid,pop,84.0,136,40,90,-9,6,35,198,5,13
45,Con Altura,ROSALNA,r&b en espanol,88.0,98,69,88,-4,5,75,162,39,12
46,One Thing Right,Marshmello,brostep,88.0,88,62,66,-2,58,44,182,7,5
47,Te Robar,Nicky Jam,latin,88.0,176,75,67,-4,8,80,202,24,6
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
49,Call You Mine,The Chainsmokers,edm,88.0,104,70,59,-6,41,50,218,23,3
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [297]:
by_genre = both.groupby("Genre")
by_genre

In [281]:
avg_popularity = both.groupby('Genre')['Popularity'].mean()

In [282]:
most_popular_genre = avg_popularity.idxmax()
most_popular_values = avg_popularity.loc[most_popular_genre]

In [283]:
least_popular_genre = avg_popularity.idxmin()
least_popular_values = avg_popularity.loc[least_popular_genre]

In [284]:
print(f'{most_popular_genre}, {most_popular_values},\n{least_popular_genre}, {least_popular_values}')

electropop, 95.0,
canadian pop, 74.5

In [329]:
indicators = both.columns.tolist()[3:]
genres = by_genre.mean().idxmax()
score = by_genre.mean().max()
result = pd.DataFrame([indicators,genres.values, score.values],["Indicators", "Genres","Score"]).transpose()
result

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/3610983848.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  genres = by_genre.mean().idxmax()
/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/3610983848.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score = by_genre.mean().max()

         Indicators          Genres  Score
0        Popularity      electropop   95.0
1  Beats.Per.Minute      trap music  180.0
2            Energy  reggaeton flow   80.0
3      Danceability  r&b en espanol   88.0
4    Loudness..dB..         brostep   -2.5
5          Liveness         brostep   37.5
6          Valence.        boy band   95.0
7           Length.  reggaeton flow  305.5
8    Acousticness..  australian pop   69.0
9      Speechiness.      electropop   34.0

In [265]:
result = both[both.isnull().any(axis=1)]
result

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [269]:
result['Genre'] = result['Genre'].fillna('pop')

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/2721207130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Genre'] = result['Genre'].fillna('pop')

In [270]:
result

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,pop,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,82.0,95,79,75,-6,7,61,206,21,12

In [272]:
result["Popularity"] = result["Popularity"].fillna(value=result["Popularity"].mean())
result

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/116685652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["Popularity"] = result["Popularity"].fillna(value=result["Popularity"].mean())

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,85.0,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,pop,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,85.0,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,85.0,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,82.0,95,79,75,-6,7,61,206,21,12